{% extends 'shared/base2.html' %}
{% load static%}

{% block header %}
<link rel="stylesheet" href="{% static 'style/Home.css' %}">
<link rel="stylesheet" href="{% static 'style/Product.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
{% endblock %}


{% block content %}
<div class="col-lg-8 border p-3 main-section bg-white">
    <div class="row hedding m-0 pl-3 pt-0 pb-3">
        Buy from the best
    </div>
    <div class="row m-0">
        <div class="col-lg-4 left-side-product-box pb-3">
            <img src="{{ product.image.url }}" class="border p-3">
        </div>
        <div class="col-lg-8">
            <div class="right-side-pro-detail border p-3 m-0">
                <div class="row">
                    <div class="col-lg-12">
                        <span>{{ product.title }}</span>
                        <p class="m-0 p-0">It's good {{ product.title }}</p>
                    </div>
                    <div class="col-lg-12">
                        <p class="m-0 p-0 price-pro">$30</p>
                        <hr class="p-0 m-0">
                    </div>
                    <div class="col-lg-12 pt-2">
                        <h5>Product Detail</h5>
                        <span>{{ product.description }}</span>
                        <hr class="m-0 pt-2 mt-2">
                    </div>
                    <div class="col-lg-12">
                        <p class="tag-section"><strong>Tags : {{ product.category_list }}</strong></p>
                    </div>
                    <form action="{% url 'order:add-to-basket'%}" method="post">
                        {% csrf_token %}
                        <div class="col-lg-12">
                        <h6>Quantity :</h6>
                            {{ new_order_form.count }}
                            {{ new_order_form.product_id }}
                        </div>
                        <div class="col-lg-12 mt-3">
                        <div class="row">
                            <div class="col-lg-6 pb-2 offset-3">
                                <button type="submit" class="btn btn-danger w-100">Add To Cart</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}